body {
  background: #4061A3;
}

.App {
  max-width: 500px;
  margin: 35px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1,h2,h3 {
  color: white;
  font-size: 2.0em;
  white-space: nowrap;
}

h3 {
  font-size: 1.5em;
  margin:0 0 5px 0;
  padding:0;
}

.pokemonBtn {
  border:4px solid #F7CB4B;
  border-radius: 4px;
  cursor: pointer;
  display:inline-block;
  font-size: 1.5em;
  font-weight: 600;
  margin: 5px auto 0;
  padding: 4px 8px;
}

.pokemonBtn:hover,
.pokemonBtn:active {
  background: orange;
  color: white;
}

.pokemon {
  background: orange;
  border: 8px solid #F7CB4B;
  border-radius: 12px;
  padding: 15px 20px;
}

.pokemon.contest {
  background: green;
  border: 8px solid darkgreen;
}

.pokemon li {
  background: #ffffcc;
  margin-left: 20px;
  margin-right: 5px;
  padding: 5px;
}

.pokemon.contest li {
  background: green;
}

.pokemon li:nth-child(odd) {
  background: orange;
}

.pokemon.contest li:nth-child(odd) {
  background: #ffffcc;
}

.pokemon.contest span {
  display:block;
}

.pokemon.contest a:link,
.pokemon.contest a:visited,
.pokemon.contest a::after,
.pokemon.contest a:active {
  color: green;
  cursor: pointer;
  text-decoration: none;
}

.pokemon.contest li:nth-child(even) a:link,
.pokemon.contest li:nth-child(even) a:visited,
.pokemon.contest li:nth-child(even) a::after,
.pokemon.contest li:nth-child(even) a:active {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.pokemon.contest label {
  font-weight: bold;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
